.LoginPageWrapper
{
    position: relative;
    width: 400px;
    height: 500px;
    background: linear-gradient(#efbbff, #91b8e5);
    border-radius: 15px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: center;
    text-align: center;
}

.LoginPageInputHolder
{
    border: none;
    margin-top: 15px;
}


.LoginPageInputHolder input
{
    width: 200px;
    border: none;
}

.LoginPageWrapper button{
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #ffffffef;
    text-decoration: none;
    width: 200px;
    margin-top: 50px;
    transition: all 0.3s ease;
}

.LoginPageWrapper button:hover
{
    background: rgb(170, 243, 170);
    color: rgb(0, 0, 0);
}

.LoginPageInputHolder a {
    color: rgb(35, 35, 247);
    padding: 5px;
    margin: 25px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;

}

.LoginPageInputHolder a:hover{
    transition: all 0.3s ease;
    color: purple;

}

