.Navbar
{
    width: 100%;
    height: 75px;
    background: linear-gradient(0.25turn, #9a0eeb, #290235, #9a0eeb);
    justify-content: center;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    gap: 5rem;
}

.Navbar a
{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
    font-family: 'Pluto Sans or Graphik';
}


.Navbar a:hover
{
    color: rgb(81, 2, 105);
    transition: all 0.4s ease;
}

.Navbar a:hover:after
{
    width: 100%;
    left: 0;
    color: white;
    background: #fff;
}
