.Navbar
{
    width: 100%;
    height: 75px;
    background: linear-gradient(0.25turn, #d896ff, #be29ec, #d896ff);
    justify-content: center;
    display: flex;
    align-items: center;

}

img
{
    width: 500px;
    height: 500px;
}

.Navbar a
{
    margin: 15px;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    text-align: center;
    font-size: 23px;
    font-family: 'Pluto Sans or Graphik';
    position: relative;
}


.Navbar a:hover
{
    color: white;
    transition: all 0.4s ease;
}

.Navbar a:hover:after
{
    width: 100%;
    left: 0;
    color: white;
    background: #fff;
}

.Login
{
    
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    color: black;
    left: 125px;
    position: relative;
}

.Login:hover
{
    color: black;
    background-color: white;
    
}
