.UserAccountNavbar
{
    width: 70%;
    height: 80px;
    margin: 0 auto;
    border-radius: 35px;
    margin-top: 50px;   
    display: flex;
    background:  #9a0eeb;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;      
}

.UserAccountNavbar li{
    display: inline-block;
    text-align: center;
}



.UserAccountNavbar li a{
    margin: 25px;
    padding : 15px;
    border-radius: 15px;
    justify-content: center;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-family: 'Pluto Sans or Graphik';

}

.UserAccountNavbar li a:hover{
    background-color: #4f0579;
    color: white;
    box-shadow: 0px 5px 10px 0px rgba( 1, 0.2);
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
    transition: 0.3s ease;
    font-family: 'Pluto Sans or Graphik';

}

.UserAccountBody {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}

.Balance
{   
    background-color: rgba(250, 207, 247, 0.909);
    width: 500px;
    height: 200px;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin: 35px 0px 0px 15px;   
}

.Balance p
{
    margin-top:  5px;
    font-size: 40px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}

#Name{
    margin-top: 15px;
    font-size: 50px;
}

.History
{   
    border-radius: 2%;
    float: right;
    width: 40%;
    height: 600px;
    justify-content: center;
    text-align: center;
    background-color: lightblue;    
}

.History label
{
    font-size: 25px;
}

