
.UserAccountNavbar nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    background: linear-gradient( #9a0eeb, #290235);
    box-shadow: 0 25px 35px rgba(0, 0, 0,  0.5);


}

.UserAccountNavbar span
{
    padding-left: 15px;
    font-size: 15px;
    justify-content: center;
    text-transform: uppercase;
}

.UserAccountNavbar a
{
    margin-bottom: 15px;
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 400px;
    padding: 10px;
    text-decoration: none;
    list-style: none;

}

.logout
{

    position: relative;
    width:70px;
    height: 30px;
    bottom: 0;
    font-size: 15px;
}

.icon
{

    position: relative;
    width:70px;
    height: 30px;
    top:2px;
    font-size: 15px;
    text-align: center;
}

.nav-item
{
    position: relative;
    margin-left: 10px;
}



.UserAccountNavbar a:hover
{
    cursor: pointer;
    background-color: purple;
    
}

.UserAccountNavbar nav:hover
{
    width: 280px;
    
}

.UserAccountBody {
    
    min-height: 100vh;
}

.Balance
{   
    background-color: rgba(203, 85, 246, 0.909);
    width: 500px;
    height: 200px;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    top: 150px;
    left: 270px;
}

.Balance p
{
    font-size: 40px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}

#Name{
    
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 5%;
    font-size: 50px;
}

.History
{   
    border-radius: 2%;
    width: 30%;
    height: 600px;
    float: right;
    top: 50px;
    justify-content: center;
    text-align: center;
    background-color: lightblue;    
}

.History label
{
    font-size: 25px;
}