*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
.footer{
    background: linear-gradient(#9a0eeb, #290235);
    margin-top: 50px;
    padding: 70px 0;
    bottom: 0;
    width: 100%;
}

.container
{
    max-width: 1170px;
    margin: auto;
}

.row
{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}


ul
{
    list-style:none;
}

.footer-col
{
    width: 25%;
    padding: 0 15px;
}

.footer-col ul li a 
{
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: block;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}
.footer-col ul li a:hover
{
    color: 	rgb(81, 2, 105);
}

.footer-col h4{
    font-size: 18px;
    column-rule: rgb(0, 0, 0);
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    color: rgb(255, 255, 255);
}

.footer-col h4::before{
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: rgb(0, 4, 255);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col a
{
    color: white;
    font-size: 20px;
    text-decoration: none;
}



